*{
    margin: 0;
    
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.modal-content{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.game-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 19.5% 20% 20% 19.8% 20.2%;
    grid-template-rows: 11.3% 25.7% 21% 21% 21%;
    gap: 0px 0px;
    grid-template-areas:
        "logo game-info game-info game-info help"
        "game-board game-board game-board game-board start-btn"
        "game-board game-board game-board game-board reset-btn"
        "game-board game-board game-board game-board top5"
        "game-board game-board game-board game-board top5";
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
    resize: horizontal;

}

.game-board {
    grid-area: game-board;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 80%;
    border: 5px solid red;
    margin: 0 auto;
}

.card {
    display: inline-block; 
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 1px solid white;
    perspective: 1000px; 
    border-radius: 10%;
    background-color: brown;
    /* font-size: 20px; */
}

.card .card-icon {
    display: none;
    font-size: 40px;
}

.card.clicked .card-icon{
    display: block;
}

.logo {
    grid-area: logo;
    border: 5px solid red;
}

.game-info {
    grid-area: game-info;
    display: flex;
    justify-content: center;
    border: 5px solid red;
}

.start-btn {
    grid-area: start-btn;
    border: 5px solid red;
}

.reset-btn {
    grid-area: reset-btn;
    border: 5px solid red;
}

.top5 {
    grid-area: top5;
    border: 5px solid red;
}

.help {
    grid-area: help;
    border: 5px solid red;
}


#endGameMessage {
    display: none; 
    text-align: center; 
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#endGameMessage p {
    margin: 0; 
}
